.footer {
    list-style: none;
    padding-left: 5px;
}
.footer li{
    padding: 0 8px;
}
.footer li a{
    text-decoration: none;
}

.all-icon {
    margin: 40px 0 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.all-icon i {
    margin: 0 10px;
    font-size: 24px;
    color: #969BAB;
    background-color: #d1d1d1;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
}


.all-icon .fa-facebook{
    color: #4267B2;
}
.all-icon .fa-instagram{
    color:  #C13584;
}
.all-icon .fa-twitter{
    color: #00acee;
}
.all-icon .fa-youtube{
    color: #FF0000;
}
.all-icon .fa-facebook:hover {
    color: #ffff;
     background-color: #4267B2; 
}
.all-icon .fa-instagram:hover {
    color: #ffff;
     background-color: #C13584; 
}
.all-icon .fa-twitter:hover {
    color: #ffff;
     background-color: #00acee; 
}
.all-icon .fa-youtube:hover {
    color: #ffff;
     background-color: #FF0000; 
}
